.mainmenu ul li a:before {
    background: #00ADD9;
  }
  
  .section-title > h2::before {
    background: #00ADD9;
  }
  
  a.lightbox-gallery::before {
    background: #00ADD9;
  }
  
  .spinner {
    background-color: #00ADD9;
  }
  
  .sk-folding-cube .sk-cube:before {
    background-color: #00ADD9;
  }
  
  .cleaning-slide-preloader-wrap {
    background: #00ADD9;
  }
  
  .header-top-area i.fa {
    color: #00ADD9;
  }
  
  .social-icon i.fa:hover {
    color: #00ADD9;
  }
  
  .mainmenu ul li:hover > a,
  .mainmenu ul li.active > a {
    background: #00ADD9;
  }
  
  .mainmenu li ul {
    background: #00ADD9;
  }
  
  .header-top-area a:hover {
    color: #00ADD9;
  }
  
  .shop-cart-checkout a {
    background: #00ADD9;
  }
  
  .search-modal .close:hover {
    color: #00ADD9;
  }
  
  .search-form .search-btn {
    background-color: #00ADD9;
  }
  
  .single-slider-item h1 span {
    color: #00ADD9;
  }
  
  .homepage-slides .owl-nav div {
    background: #00ADD9;
  }
  
  .cleaning-btn {
    background: #00ADD9;
    border: 1px solid #00ADD9;
  }
  
  .project-slides .owl-nav div:hover {
    background: #00ADD9;
  }
  
  .project-slides .owl-nav div:hover {
    background: #00ADD9;
  }
  
  .single-working-info:hover {
    border: 1px dashed #00ADD9;
  }
  
  .single-working-info i {
    color: #00ADD9;
  }
  
  .single-working-info:hover h3 {
    border-bottom: 1px dashed #00ADD9;
    border-top: 1px dashed #00ADD9;
  }
  
  .green-btn {
    background: #00ADD9;
  }
  
  .who-we-info .single-info i {
    background-color: #00ADD9;
  }
  
  .read-more-btn {
    background: #00ADD9;
  }
  
  .choose-reasons i {
    background: #00ADD9;
  }
  
  .counter-box i {
    background-color: #00ADD9;
  }
  
  .counter-box:hover {
    border: 1px dashed #00ADD9;
  }
  
  .cart-btn {
    background: #00ADD9;
  }
  
  .shop-slides .owl-nav div:hover {
    background: #00ADD9;
  }
  
  .shop-btn:hover {
    background: #00ADD9;
  }
  
  .promo-play-btn {
    background: #00ADD9;
  }
  
  .promo-play-btn:before, .promo-play-btn:after {
    background-color: #00ADD9;
  }
  
  .project-text-area ul li i {
    color: #00ADD9;
  }
  
  .pager li > a {
    background-color: #00ADD9;
    border: 1px solid #00ADD9;
  }
  
  .testimonial-slide-item {
    border-bottom: 2px solid #00ADD9;
  }
  
  .testimonial-slides .owl-prev:hover, .testimonial-slides .owl-next:hover {
    color: #00ADD9;
  }
  
  .testimonial-slide-item h3::before {
    background: #00ADD9;
  }
  
  .subscribe-form input {
    background: #00ADD9;
  }
  
  .subscribe-section {
    background-color: #00ADD9;
  }
  
  .subscribe-section .subscribe-form button:hover {
    background-color: #00ADD9;
  }
  
  .team-slides .owl-nav div:hover {
    background: #00ADD9;
  }
  
  .social-media > a:hover {
    background: #00ADD9;
  }
  
  .team-profile > a:hover {
    background: #00ADD9;
  }
  
  .profile-box .social-links a {
    background: #00ADD9;
  }
  
  .select-plan {
    background: #00ADD9;
  }
  
  .date {
    background: #00ADD9;
  }
  
  .single-blog-item::before,
  .single-boxed-item::before,
  .single-service-image::before {
    background: #00ADD9;
  }
  
  .widget li::before {
    color: #00ADD9;
  }
  
  .tag_widget.tag_list a:hover {
    background: #00ADD9;
  }
  
  .blog-serch-form > input {
    border: 1px solid #00ADD9;
  }
  
  .blog-serch-form > button {
    background: #00ADD9;
  }
  
  .pagination-box > .active > a,
  .pagination-box > .active > a:focus,
  .pagination-box > .active > a:hover,
  .pagination-box > .active > span,
  .pagination-box > .active > span:focus,
  .pagination-box > .active > span:hover {
    background-color: #00ADD9;
    border-color: #00ADD9;
  }
  
  .pagination-box > li > a:focus,
  .pagination-box > li > a:hover,
  .pagination-box > li > span:focus,
  .pagination-box > li > span:hover {
    background-color: #00ADD9;
    border-color: #00ADD9;
  }
  
  .footer-wid.footer-menu a {
    color: #00ADD9;
  }
  
  .single-footer-iem > p {
    color: #00ADD9;
  }
  
  .subscribe button {
    background: #00ADD9;
    border: 1px solid #00ADD9;
  }
  
  .social-icos a:hover {
    background: #00ADD9;
  }
  
  .shorting-menu > button {
    border-color: #00ADD9 rgba(0, 0, 0, 0) #00ADD9 rgba(0, 0, 0, 0);
  }
  
  .shorting-menu > button:hover,
  .shorting-menu > button.mixitup-control-active {
    background: #00ADD9;
    border: 1px dashed #00ADD9;
  }
  
  .shorting-menu > button:hover,
  .shorting-menu > button.mixitup-control-active {
    background: #00ADD9;
    border: 1px dashed #00ADD9;
  }
  
  #back-to-top {
    background: #00ADD9;
  }
  
  .product-price > h3 {
    color: #00ADD9;
  }
  
  .add-to-cart {
    background: #00ADD9;
  }
  
  .list-inline a:hover {
    color: #00ADD9;
  }
  
  .product-wrap-btn:hover span {
    background: #00ADD9;
  }
  
  .product-wrap-btn:hover {
    color: #00ADD9;
  }
  
  .tabs-left {
    border-right: 1px solid #00ADD9;
  }
  
  .tabs-left > li.active > a,
  .tabs-left > li.active > a:hover,
  .tabs-left > li.active > a:focus {
    background-color: #00ADD9;
    border-bottom-color: #00ADD9;
    border-top-color: #00ADD9;
    border-left-color: #00ADD9;
  }
  
  .review-form input.sbmt-btn {
    background: #00ADD9;
  }
  
  .contact-form-area input.sbmt-btn:hover {
    background-color: #00ADD9;
  }
  
  .address-area ul > li i {
    color: #00ADD9;
  }
  
  .address-area ul li .contact-social li a {
    border: 1px solid #00ADD9;
  }
  
  .address-area ul li .contact-social li a:hover {
    background: #00ADD9;
  }
  
  .address-area ul li .contact-social li a i {
    color: #00ADD9;
  }
  
  .blog-slides .owl-nav div:hover {
    background: #00ADD9;
  }
  
  .comment-form-wrap input.sbmt-btn:hover {
    background: #00ADD9;
  }
  
  .qoute-title-area {
    background: #00ADD9;
  }
  
  .qoute-form-area input[type="submit"] {
    background: #00ADD9;
  }
  
  .error-section h1 {
    color: #00ADD9;
  }
  
  .faq-t {
    color: #00ADD9;
  }
  
  .project-text-area ul li i {
    color: #00ADD9;
  }
  
  .product-price > h3 {
    color: #00ADD9;
  }
  
  .header-shop i span {
    background-color: #00ADD9;
  }
  
  .ColorSwitcher__control {
    background: #00ADD9;
  }
  
  .footer-copyright-area a {
    color: #00ADD9;
  }
  
  .mainmenu-area .mainmenu ul li ul li a:hover {
    color: #00ADD9;
  }
  
  .mainmenu-area .mainmenu ul li ul li.active a {
    color: #00ADD9;
  }
  
  .home-two .qoute-title {
    background-color: #00ADD9;
  }
  
  .single-project-item .single-project-info {
    background: #00ADD9;
  }
  
  .shop-item-block .shop-single-item .shop-btn:hover {
    background: #00ADD9;
  }
  
  .widget.recent_posts a:hover {
    color: #00ADD9;
  }
  
  .pagination-box li a:hover {
    background-color: #00ADD9;
    border-color: #00ADD9;
  }
  
  .comments-area .comment-list .comment-item .comment-reply-link {
    color: #00ADD9;
    border: 1px solid #00ADD9;
  }
  
  .comments-area .comment-list .comment-item .comment-reply-link:hover {
    background-color: #00ADD9;
  }
  
  .rating li a {
    color: #00ADD9;
  }
  
  .footer-wid .social-icos li a:hover {
    background: #00ADD9;
  }
  
  .cleaning-mini-banner .cleaning-breadcumb {
    color: #00ADD9;
  }
  
  .single-service-item-block h3 a:hover {
    color: #00ADD9;
  }
  
  .single-project-item .single-project-info {
    background: #00ADD9;
  }
  
  .shop-item-block .shop-single-item .shop-btn:hover {
    background: #00ADD9;
  }
  /*# sourceMappingURL=light-blue-color.css.map */